<a href="https://colab.research.google.com/github/debbiedebdeb/MDG/blob/master/Data_Preprocessing%20/%20DATA(%EB%B3%B4%ED%96%89%EC%9D%B8%EA%B5%AC%2C_%EC%A3%BC%EB%B3%80%ED%8A%B9%EC%84%B1%EB%8D%B0%EC%9D%B4%ED%84%B0%2C_%EB%94%94%EC%A7%80%ED%84%B8%EC%A0%95%EB%B3%B4%EC%A7%80%EC%88%98).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#보행인구 데이터 중 시니어 데이터만

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
# 1~3월 보행인구 파일불러오기
m13 = pd.read_csv('/content/drive/MyDrive/시소프로젝트/LG유플러스(데이터)/월 서울&6대 광역시 내국인의 요일,성별,연령대,시간대별 보행,비보행인구_220622_1-3.csv', encoding='cp949')
m13.head()

        월     시도  시군구 고객구분 요일 시간대  성별     연령대          보행인구        비보행인구
0  202101  광주광역시  광산구  내국인  금  야간  남성     10대  329977.94500  30854.78017
1  202101  광주광역시  광산구  내국인  금  야간  남성  10세 미만   21970.53535   1677.94367
2  202101  광주광역시  광산구  내국인  금  야간  남성     20대  199921.57420  56599.58540
3  202101  광주광역시  광산구  내국인  금  야간  남성     30대  154950.84220  63913.69369
4  202101  광주광역시  광산구  내국인  금  야간  남성     40대  213433.96440  86614.44267

In [ ]:
# 4 ~ 6월 보행인구 파일불러오기
m46 = pd.read_csv('/content/drive/MyDrive/시소프로젝트/LG유플러스(데이터)/월 서울&6대 광역시 내국인의 요일,성별,연령대,시간대별 보행,비보행인구_220622_4-6.csv')
m46.head()

        월     시도  시군구 고객구분 요일 시간대  성별     연령대          보행인구          비보행인구
0  202104  광주광역시  광산구  내국인  금  야간  남성     10대  264047.54710   49697.223960
1  202104  광주광역시  광산구  내국인  금  야간  남성  10세 미만   28460.80326    3627.010242
2  202104  광주광역시  광산구  내국인  금  야간  남성     20대  159103.79040   70332.722290
3  202104  광주광역시  광산구  내국인  금  야간  남성     30대  133418.27000   77774.808750
4  202104  광주광역시  광산구  내국인  금  야간  남성     40대  178894.83700  107180.312300

In [ ]:
# 7~9월 보행인구 파일불러오기
m79 = pd.read_csv('/content/drive/MyDrive/시소프로젝트/LG유플러스(데이터)/월 서울&6대 광역시 내국인의 요일,성별,연령대,시간대별 보행,비보행인구_220622_7-9.csv', encoding='cp949')
m79.head()

        월     시도  시군구 고객구분 요일 시간대  성별     연령대          보행인구          비보행인구
0  202107  광주광역시  광산구  내국인  금  야간  남성     10대  279185.93530   51318.328550
1  202107  광주광역시  광산구  내국인  금  야간  남성  10세 미만   34374.92334    4366.244027
2  202107  광주광역시  광산구  내국인  금  야간  남성     20대  192662.17050   74182.544910
3  202107  광주광역시  광산구  내국인  금  야간  남성     30대  152402.77550   76796.027120
4  202107  광주광역시  광산구  내국인  금  야간  남성     40대  205017.34520  108716.278200

In [ ]:
# 10~12월 보행인구 파일불러오기
m1012 = pd.read_csv('/content/drive/MyDrive/시소프로젝트/LG유플러스(데이터)/월 서울&6대 광역시 내국인의 요일,성별,연령대,시간대별 보행,비보행인구_220622_10-12.csv', encoding='cp949')
m1012.head()

        월     시도  시군구 고객구분 요일 시간대  성별     연령대          보행인구          비보행인구
0  202110  광주광역시  광산구  내국인  금  야간  남성     10대  332711.08450   61681.134790
1  202110  광주광역시  광산구  내국인  금  야간  남성  10세 미만   42084.36396    4901.709235
2  202110  광주광역시  광산구  내국인  금  야간  남성     20대  214515.57810   77731.712540
3  202110  광주광역시  광산구  내국인  금  야간  남성     30대  177000.74500   80761.334420
4  202110  광주광역시  광산구  내국인  금  야간  남성     40대  245992.57550  116424.265500

## 서울특별시와 60, 70대만 남긴 후 합치기

In [ ]:
# 1년치 보행인구 파일 만들기 
seoul2021 = pd.concat([m13, m46, m79, m1012], ignore_index=True)
seoul2021

             월     시도  시군구 고객구분 요일 시간대  성별     연령대          보행인구        비보행인구
0       202101  광주광역시  광산구  내국인  금  야간  남성     10대  329977.94500  30854.78017
1       202101  광주광역시  광산구  내국인  금  야간  남성  10세 미만   21970.53535   1677.94367
2       202101  광주광역시  광산구  내국인  금  야간  남성     20대  199921.57420  56599.58540
3       202101  광주광역시  광산구  내국인  금  야간  남성     30대  154950.84220  63913.69369
4       202101  광주광역시  광산구  내국인  금  야간  남성     40대  213433.96440  86614.44267
...        ...    ...  ...  ... ..  ..  ..     ...           ...          ...
298350  202112  인천광역시   중구  내국인  화  주간  여성     30대   84203.44246  62339.29754
298351  202112  인천광역시   중구  내국인  화  주간  여성     40대   97186.94874  69603.23587
298352  202112  인천광역시   중구  내국인  화  주간  여성     50대   77667.70214  66258.66446
298353  202112  인천광역시   중구  내국인  화  주간  여성     60대   66662.23536  48342.33616
298354  202112  인천광역시   중구  내국인  화  주간  여성  70세 이상   56822.87493  26231.91521

[298355 rows x 10 columns]

In [ ]:
# 서울시만 출력
seoul2021 = seoul2021[seoul2021['시도'] == '서울특별시']
seoul2021

,월,시도,시군구,고객구분,요일,시간대,성별,연령대,보행인구,비보행인구
11424,202101,서울특별시,강남구,내국인,금,야간,남성,10대,222676.773100,14450.782170
11425,202101,서울특별시,강남구,내국인,금,야간,남성,10세 미만,5839.103368,378.404066
11426,202101,서울특별시,강남구,내국인,금,야간,남성,20대,140010.518700,32129.973220
11427,202101,서울특별시,강남구,내국인,금,야간,남성,30대,140182.743500,59761.499580
11428,202101,서울특별시,강남구,내국인,금,야간,남성,40대,195300.725500,85245.372670
...,...,...,...,...,...,...,...,...,...,...
293310,202112,서울특별시,중랑구,내국인,화,주간,여성,30대,186737.290400,98329.785980
293311,202112,서울특별시,중랑구,내국인,화,주간,여성,40대,209443.743100,102908.003900
293312,202112,서울특별시,중랑구,내국인,화,주간,여성,50대,267545.685600,125866.335800
293313,202112,서울특별시,중랑구,내국인,화,주간,여성,60대,250740.449500,99599.313470
293314,202112,서울특별시,중랑구,내국인,화,주간,여성,70세 이상,204827.916700,53073.867870

In [ ]:
# 60대 이상만 출력
seoul6070 = seoul2021[seoul2021['연령대'].isin(['60대', '70대', '70세 이상'])]
seoul6070

,월,시도,시군구,고객구분,요일,시간대,성별,연령대,보행인구,비보행인구
11430,202101,서울특별시,강남구,내국인,금,야간,남성,60대,126197.06870,64479.718460
11431,202101,서울특별시,강남구,내국인,금,야간,남성,70세 이상,95732.66964,27693.090440
11438,202101,서울특별시,강남구,내국인,금,야간,여성,60대,136578.19650,28646.269250
11439,202101,서울특별시,강남구,내국인,금,야간,여성,70세 이상,108674.61800,18567.962330
11446,202101,서울특별시,강남구,내국인,금,저녁,남성,60대,149791.42860,82482.840800
...,...,...,...,...,...,...,...,...,...,...
293298,202112,서울특별시,중랑구,내국인,화,저녁,여성,70세 이상,86453.32568,9348.223405
293305,202112,서울특별시,중랑구,내국인,화,주간,남성,60대,200841.14620,129691.065300
293306,202112,서울특별시,중랑구,내국인,화,주간,남성,70세 이상,146322.05620,61586.558390
293313,202112,서울특별시,중랑구,내국인,화,주간,여성,60대,250740.44950,99599.313470
293314,202112,서울특별시,중랑구,내국인,화,주간,여성,70세 이상,204827.91670,53073.867870

In [ ]:
seoul6070.reset_index(drop=True, inplace=True)
seoul6070

            월     시도  시군구 고객구분 요일 시간대  성별     연령대          보행인구          비보행인구
0      202101  서울특별시  강남구  내국인  금  야간  남성     60대  126197.06870   64479.718460
1      202101  서울특별시  강남구  내국인  금  야간  남성  70세 이상   95732.66964   27693.090440
2      202101  서울특별시  강남구  내국인  금  야간  여성     60대  136578.19650   28646.269250
3      202101  서울특별시  강남구  내국인  금  야간  여성  70세 이상  108674.61800   18567.962330
4      202101  서울특별시  강남구  내국인  금  저녁  남성     60대  149791.42860   82482.840800
...       ...    ...  ...  ... ..  ..  ..     ...           ...            ...
25195  202112  서울특별시  중랑구  내국인  화  저녁  여성  70세 이상   86453.32568    9348.223405
25196  202112  서울특별시  중랑구  내국인  화  주간  남성     60대  200841.14620  129691.065300
25197  202112  서울특별시  중랑구  내국인  화  주간  남성  70세 이상  146322.05620   61586.558390
25198  202112  서울특별시  중랑구  내국인  화  주간  여성     60대  250740.44950   99599.313470
25199  202112  서울특별시  중랑구  내국인  화  주간  여성  70세 이상  204827.91670   53073.867870

[25200 rows x 10 columns]

In [ ]:
# 주민센터 및 복지관의 시설 이용시간은 주간대이기 때문에, "주간"데이터만 추출
seoul6070 = seoul6070[seoul6070['시간대']=='주간']

In [ ]:
seoul6070 = seoul6070.sort_values(by=['보행인구'], ascending=False)

In [ ]:
seoul6070[seoul6070['요일'].isin(['월', '화', '수', '목', '금'])]

            월     시도  시군구 고객구분 요일 시간대  성별     연령대          보행인구         비보행인구
20338  202110  서울특별시  송파구  내국인  금  주간  여성     60대  539345.16390  181619.77190
18250  202109  서울특별시  송파구  내국인  목  주간  여성     60대  535912.87060  176526.35430
7738   202104  서울특별시  송파구  내국인  금  주간  여성     60대  532652.59920  173382.56850
7750   202104  서울특별시  송파구  내국인  목  주간  여성     60대  531849.50720  174279.47360
22474  202111  서울특별시  송파구  내국인  월  주간  여성     60대  518695.83420  207691.26440
...       ...    ...  ...  ... ..  ..  ..     ...           ...           ...
669    202101  서울특별시  금천구  내국인  화  주간  남성  70세 이상   78986.68922   42345.56317
10929  202106  서울특별시  광진구  내국인  금  주간  남성  70세 이상   76381.71835   44065.10800
609    202101  서울특별시  금천구  내국인  목  주간  남성  70세 이상   74986.65756   39231.19486
12189  202106  서울특별시  용산구  내국인  금  주간  남성  70세 이상   71462.93070   55379.87449
11097  202106  서울특별시  금천구  내국인  금  주간  남성  70세 이상   67416.19354   31139.63600

[6000 rows x 10 columns]

In [ ]:
seoul6070.reset_index(drop=True, inplace=True)
seoul6070
# seoul6070.to_csv('seoul6070.csv', index=None)

           월     시도  시군구 고객구분 요일 시간대  성별     연령대          보행인구         비보행인구
0     202110  서울특별시  송파구  내국인  금  주간  여성     60대  539345.16390  181619.77190
1     202109  서울특별시  송파구  내국인  목  주간  여성     60대  535912.87060  176526.35430
2     202104  서울특별시  송파구  내국인  금  주간  여성     60대  532652.59920  173382.56850
3     202104  서울특별시  송파구  내국인  목  주간  여성     60대  531849.50720  174279.47360
4     202111  서울특별시  송파구  내국인  월  주간  여성     60대  518695.83420  207691.26440
...      ...    ...  ...  ... ..  ..  ..     ...           ...           ...
8395  202103  서울특별시  용산구  내국인  토  주간  남성  70세 이상   67282.46319   52127.64982
8396  202103  서울특별시  금천구  내국인  토  주간  여성  70세 이상   65720.30654   23166.55849
8397  202107  서울특별시   중구  내국인  일  주간  남성  70세 이상   62522.98170   34852.99897
8398  202103  서울특별시   중구  내국인  토  주간  남성  70세 이상   62257.92606   43988.23912
8399  202103  서울특별시  금천구  내국인  토  주간  남성  70세 이상   53599.83762   27464.05339

[8400 rows x 10 columns]

In [ ]:
seoul6070 = seoul6070.drop(columns=['시도', '고객구분', '시간대', '성별', '비보행인구'])
seoul6070

           월  시군구 요일     연령대          보행인구
0     202110  송파구  금     60대  539345.16390
1     202109  송파구  목     60대  535912.87060
2     202104  송파구  금     60대  532652.59920
3     202104  송파구  목     60대  531849.50720
4     202111  송파구  월     60대  518695.83420
...      ...  ... ..     ...           ...
8395  202103  용산구  토  70세 이상   67282.46319
8396  202103  금천구  토  70세 이상   65720.30654
8397  202107   중구  일  70세 이상   62522.98170
8398  202103   중구  토  70세 이상   62257.92606
8399  202103  금천구  토  70세 이상   53599.83762

[8400 rows x 5 columns]

In [ ]:
# 평균값
one = seoul6070.groupby(by=['월','시군구']).sum().unstack().mean().to_frame()
one

                      0
     시군구
보행인구 강남구   8.742670e+06
     강동구   6.345216e+06
     강북구   4.421889e+06
     강서구   7.388629e+06
     관악구   5.847915e+06
     광진구   4.154235e+06
     구로구   6.019903e+06
     금천구   3.583914e+06
     노원구   7.270581e+06
     도봉구   4.803348e+06
     동대문구  6.191491e+06
     동작구   5.378581e+06
     마포구   4.653901e+06
     서대문구  4.405539e+06
     서초구   6.666429e+06
     성동구   4.282231e+06
     성북구   5.578754e+06
     송파구   9.120939e+06
     양천구   5.450672e+06
     영등포구  6.533197e+06
     용산구   3.694697e+06
     은평구   6.167004e+06
     종로구   4.474791e+06
     중구    3.983876e+06
     중랑구   5.952526e+06

#변수 : 인구특성

In [ ]:
# 행정동 인구특성 데이터 가져오기 
people = pd.read_excel('/content/drive/MyDrive/시소프로젝트/NEW(공모전용)/전처리용/인구특성.xlsx')
people1= people.iloc[:,:2]

In [ ]:
people.head()
# 60/(행정동)전체인구 : 각 행정동의 60세 이상 비율 
# 구별 전체 : 행정구 기준 60세 이상 인구수 
# 동별60~ / 구별60~ : 행정동별 60세 이상 비율

,구,동,0~4세,5~9세,10~14세,15~19세,20~24세,25~29세,30~34세,35~39세,...,80~84세,85~89세,90~94세,95~99세,100세 이상,전체인구,60~,60~/전체인구,구별 전체,동별 60~ / 구별 60~
0,종로구,사직동,202.0,356.0,342.0,333.0,465.0,737.0,769.0,678.0,...,309.0,167.0,62.0,22.0,1.0,9372,2468,0.263338,39120,0.063088
1,종로구,삼청동,37.0,65.0,87.0,84.0,144.0,176.0,148.0,155.0,...,87.0,60.0,20.0,6.0,2.0,2456,827,0.336726,39120,0.021140
2,종로구,부암동,165.0,332.0,401.0,453.0,584.0,643.0,602.0,608.0,...,265.0,131.0,60.0,13.0,3.0,9579,2558,0.267042,39120,0.065389
3,종로구,평창동,454.0,694.0,760.0,819.0,1104.0,1238.0,1032.0,1168.0,...,505.0,285.0,121.0,38.0,6.0,18152,4937,0.271981,39120,0.126201
4,종로구,무악동,243.0,402.0,500.0,476.0,467.0,440.0,377.0,526.0,...,234.0,97.0,30.0,10.0,3.0,8259,2006,0.242887,39120,0.051278

In [ ]:
people2 = people.iloc[:,23:]

In [ ]:
people =pd.concat([people1,people2], axis=1)
people.head()

     구    동   전체인구   60~  60~/전체인구  구별 전체  동별 60~ / 구별 60~
0  종로구  사직동   9372  2468  0.263338  39120         0.063088
1  종로구  삼청동   2456   827  0.336726  39120         0.021140
2  종로구  부암동   9579  2558  0.267042  39120         0.065389
3  종로구  평창동  18152  4937  0.271981  39120         0.126201
4  종로구  무악동   8259  2006  0.242887  39120         0.051278

In [ ]:
people.columns = ['시군구', '동', '동별전체인구', '60세~', '60세~/전체인구', '구별전체인구', '60세~/구별전체']

In [ ]:
people.head()

   시군구    동  동별전체인구  60세~  60세~/전체인구  구별전체인구  60세~/구별전체
0  종로구  사직동    9372  2468   0.263338   39120   0.063088
1  종로구  삼청동    2456   827   0.336726   39120   0.021140
2  종로구  부암동    9579  2558   0.267042   39120   0.065389
3  종로구  평창동   18152  4937   0.271981   39120   0.126201
4  종로구  무악동    8259  2006   0.242887   39120   0.051278

In [ ]:
#유동인구와 merge 하기
people = pd.merge(people, one, how = 'inner', on='시군구')

In [ ]:
people.columns = ['시군구', '동', '동별전체인구', '60세~', '60세~/전체인구', '구별전체인구', '60세~/구별전체', '보행인구']
people['비율'] = None
people['비율'] = people['60세~/구별전체'] * people['보행인구'] # 행정동별 시니어 인구비율 * 보행인구

In [ ]:
people

,시군구,동,동별전체인구,60세~,60세~/전체인구,구별전체인구,60세~/구별전체,보행인구,비율
0,종로구,사직동,9372,2468,0.263338,39120,0.063088,4.474791e+06,282305.293147
1,종로구,삼청동,2456,827,0.336726,39120,0.021140,4.474791e+06,94597.438184
2,종로구,부암동,9579,2558,0.267042,39120,0.065389,4.474791e+06,292600.056687
3,종로구,평창동,18152,4937,0.271981,39120,0.126201,4.474791e+06,564724.972591
4,종로구,무악동,8259,2006,0.242887,39120,0.051278,4.474791e+06,229458.840382
...,...,...,...,...,...,...,...,...,...
420,강동구,둔촌2동,24661,6259,0.253802,111309,0.056231,6.345216e+06,356796.900793
421,강동구,암사1동,34486,9021,0.261584,111309,0.081045,6.345216e+06,514245.860690
422,강동구,천호2동,33154,8694,0.262231,111309,0.078107,6.345216e+06,495605.089585
423,강동구,길동,45653,12152,0.266182,111309,0.109174,6.345216e+06,692729.819311
424,강동구,상일1동,38834,7184,0.184993,111309,0.064541,6.345216e+06,409526.910931

#변수 : 디지털정보지수

* 디지털 정보 지수 : 일반국민의 디지털정보화 수준을 100으로 할때, 일반국민 대비 연령별 디지털 정보화 역량수준 (과학기술정보통신부 2021) 
* 100 이하인 50대, 60대, 70세 이상 의 디지털정보지수를 변수로 설정

In [ ]:
# 파일 불러오기 
media = pd.read_excel('/content/drive/MyDrive/시소프로젝트/완성데이터/원천 데이터(데이터 가공 전)/동별_연령대별_인구_from 서울시열린데이터.xlsx')
media[:4]

,동,0~4세,5~9세,10~14세,15~19세,19세미만,20~24세,25~29세,20대,30~34세,...,55~59세,50대,60~64세,65~69세,60대,70~74세,75~79세,80~84세,85~89세,70세 이상
0,사직동,194,352,345,342,1233,461,728,1189,772,...,707,1542,719,503,1222,359,344,306,168,1177
1,삼청동,34,60,89,82,265,134,175,309,159,...,183,379,224,190,414,133,103,90,61,387
2,부암동,149,327,384,466,1326,576,627,1203,591,...,793,1682,741,585,1326,409,330,265,139,1143
3,평창동,459,687,765,801,2712,1081,1212,2293,1042,...,1560,3258,1518,1191,2709,717,586,507,286,2096

In [ ]:
#불필요한 컬럼 삭제 
media.drop(columns = ['0~4세', '5~9세', '10~14세', '15~19세',
                     '20~24세', '25~29세','30~34세', '35~39세','40~44세', '45~49세',
                      '50~54세', '55~59세',  '60~64세', '65~69세','70~74세', '75~79세', '80~84세', '85~89세'], inplace = True)

In [ ]:
#역량수준 리스트 생성 
dgt_level = [0.92,0.593,0.224]

#역량수준 * 인구 수 곱 
result = round(media.iloc[:,5:]*dgt_level,2)

In [ ]:
media_df = pd.concat([media[['동']],result], axis = 1)
media_df['디지털정보지수'] = media_df.sum(axis =1)
media_df
final_df = media_df[['동','디지털정보지수']]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.

In [ ]:
media_df

        동      50대      60대   70세 이상   디지털정보지수
0     사직동  1418.64   724.65   263.65   2406.94
1     삼청동   348.68   245.50    86.69    680.87
2     부암동  1547.44   786.32   256.03   2589.79
3     평창동  2997.36  1606.44   469.50   5073.30
4     무악동  1309.16   624.43   212.35   2145.94
..    ...      ...      ...      ...       ...
420  천호2동  4861.28  2986.35   813.79   8661.42
421    길동  6677.36  4372.19  1066.46  12116.01
422   강일동  4359.88  2757.45   702.24   7819.57
423   상일동  6377.44  3585.28   729.57  10692.29
424  상일2동  1393.80   640.44   212.80   2247.04

[425 rows x 5 columns]

In [ ]:
# # 저장 
# final_df.to_csv('동별 디지털정보지수(50~).csv')
# final_df.to_excel('동별 디지털정보지수(50~).xlsx')

** 신사동이 2곳이라 추후 merge작업할때 행이 늘어날 수 있다

# 위경도를 통한 주변특성 데이터 구하기

## 주민센터 및 복지관 위경도 가져오기

* 주소를 이용해 위도, 경도를 가져옵니다 
* 지오코딩 이용

In [ ]:
!pip install geopy

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: geopy in /usr/local/lib/python3.7/dist-packages (1.17.0)
Requirement already satisfied: geographiclib<2,>=1.49 in /usr/local/lib/python3.7/dist-packages (from geopy) (1.52)

In [ ]:
from geopy.geocoders import Nominatim

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/시소프로젝트/NEW(공모전용)/전처리용/연면적.csv')
df.head(1)

   자치구      동         시설명                 주소     연면적
0  종로구  청운효자동  청운효자동 주민센터  서울특별시 종로구 자하문로 92  965.52

In [ ]:
geolocoder = Nominatim(user_agent = 'South Korea', timeout = None)

def geocoding(address) : 
    try : 
        geo= geolocoder.geocode(address)
        crd = (str(geo.latitude), str(geo.longitude))
        return crd
    
    except : 
        return (0,0)

In [ ]:
lats = []
logs = []

for address in df['주소'] : 
    crd = geocoding(address)
    lats.append(crd[0])
    logs.append(crd[1])

lats = pd.Series(lats)
logs = pd.Series(logs)

In [ ]:
df = pd.concat([df, lats], axis = 1)
df = pd.concat([df, logs], axis = 1)
df.head(5)

,자치구,동,시설명,주소,연면적,0,0
0,종로구,청운효자동,청운효자동 주민센터,서울특별시 종로구 자하문로 92,965.52,37.5840835,126.9706357
1,종로구,사직동,사직동 주민센터,서울특별시 종로구 사직로9길 1,346.65,37.576191449999996,126.96882915
2,종로구,종로1.2.3.4가동,종로1-4가동 주민센터,서울특별시 종로구 종로17길 8,1981.09,37.5707276,126.9889123
3,종로구,삼청동,삼청동 주민센터,서울특별시 종로구 삼청로 107,998.1,37.5849793,126.98178162729107
4,종로구,가회동,가회동 주민센터,서울특별시 종로구 북촌로 35,1032.08,37.58002545,126.98480464831948

In [ ]:
df.columns = ['자치구', '동', '시설명', '주소', '연면적', '위도', '경도']

In [ ]:
# 변환되지 않은 관측치들 확인 
df[df['위도']==0]

      자치구     동        시설명                      주소       연면적 위도 경도
115   성북구   안암동   안암동 주민센터        서울특별시 성북구 인촌로 16   2226.53  0  0
238   양천구  신정6동  신정6동 주민센터        서울특별시 양천구 신남3길 6    1096.3  0  0
274   구로구   수궁동   수궁동 주민센터     서울특별시 구로구 오리로15길 32    863.22  0  0
276   금천구  독산1동  독산1동 주민센터   서울특별시 금천구 시흥대로123길 11   3086.62  0  0
277   금천구  독산2동  독산2동 주민센터      서울특별시 금천구 범안로 1240  2,923.86  0  0
291  영등포구   문래동   문래동 주민센터    서울특별시 영등포구 문래로28길 15  1,001.40  0  0
292  영등포구  양평1동  양평1동 주민센터   서울특별시 영등포구 영등포로11길 12    693.89  0  0
293  영등포구  양평2동  양평2동 주민센터   서울특별시 영등포구 양평로20길 8-1    451.62  0  0
439   중랑구   중화동    중화경로복지관     서울특별시중랑구 동일로138길 28       753  0  0
476   강서구   화곡동  연지어르신복지센터  서울특별시 강서구 화곡로 58길 30-7       796  0  0
496   강남구   역삼동   역삼노인복지센터       서울특별시 강남구 도곡로길 27     1,030  0  0
508   성동구   용답동    삼성시니어센터   서울특별시 성동구 용답중앙11다길 22   1716.38  0  0

In [ ]:
# 주소는 제대로 되어있다. GMAP에서 찾아 직접 넣어주기 
df.iloc[115, 5]= 37.5858
df.iloc[115, 6]= 127.0214

In [ ]:
df.iloc[238, 3]= '서울특별시 양천구 목동서로 353'
df.iloc[238, 5]= 37.5171
df.iloc[238, 6]= 126.8645

In [ ]:
df.iloc[274, 5]= 37.4939
df.iloc[274, 6]= 126.8315

df.iloc[439, 5]= 37.6033
df.iloc[439, 6]= 127.0812


df.iloc[476, 5]= 37.5524
df.iloc[476, 6]= 126.8526

df.iloc[496, 3]= '서울특별시 강남구 역삼2동 781-34'
df.iloc[496, 5]= 37.4945
df.iloc[496, 6]= 127.0418

df.iloc[508, 3]= '서울특별시 성동구 용답동 72-17'
df.iloc[508, 5]= 37.5658
df.iloc[508, 6]= 127.0525

In [ ]:
# 확인작업 
df[df['위도']==0] # 위도 경도 모두 변환 완료

      자치구     동        시설명                     주소       연면적 위도 경도
276   금천구  독산1동  독산1동 주민센터  서울특별시 금천구 시흥대로123길 11   3086.62  0  0
277   금천구  독산2동  독산2동 주민센터     서울특별시 금천구 범안로 1240  2,923.86  0  0
291  영등포구   문래동   문래동 주민센터   서울특별시 영등포구 문래로28길 15  1,001.40  0  0
292  영등포구  양평1동  양평1동 주민센터  서울특별시 영등포구 영등포로11길 12    693.89  0  0
293  영등포구  양평2동  양평2동 주민센터  서울특별시 영등포구 양평로20길 8-1    451.62  0  0

In [ ]:
df.head()

,자치구,동,시설명,주소,연면적,위도,경도
0,종로구,청운효자동,청운효자동 주민센터,서울특별시 종로구 자하문로 92,965.52,37.5840835,126.9706357
1,종로구,사직동,사직동 주민센터,서울특별시 종로구 사직로9길 1,346.65,37.576191449999996,126.96882915
2,종로구,종로1.2.3.4가동,종로1-4가동 주민센터,서울특별시 종로구 종로17길 8,1981.09,37.5707276,126.9889123
3,종로구,삼청동,삼청동 주민센터,서울특별시 종로구 삼청로 107,998.1,37.5849793,126.98178162729107
4,종로구,가회동,가회동 주민센터,서울특별시 종로구 북촌로 35,1032.08,37.58002545,126.98480464831948

In [ ]:
#저장
# df.to_excel('데이터위도경도포함.xlsx')

## 주민센터 위경도에 UTMK 추가

In [ ]:
!pip install pyproj

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyproj
  Downloading pyproj-3.2.1-cp37-cp37m-manylinux2010_x86_64.whl (6.3 MB)
     |████████████████████████████████| 6.3 MB 12.8 MB/s
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from pyproj) (2022.6.15)
Installing collected packages: pyproj
Successfully installed pyproj-3.2.1

In [ ]:
import pandas as pd
import numpy as np
import pyproj
from pyproj import Transformer

In [ ]:
main = pd.read_excel('/content/drive/MyDrive/시소프로젝트/NEW(공모전용)/전처리용/데이터위도경도포함.xlsx',index_col=0)
main.head(1)

     자치구      동         시설명                 주소     연면적         위도          경도
0.0  종로구  청운효자동  청운효자동 주민센터  서울특별시 종로구 자하문로 92  965.52  37.584083  126.970636

In [ ]:
# 서울역 위도 경도 (37.553230, 126.972551) (예시)
transformer = Transformer.from_crs("epsg:4326", "epsg:5178")
transformer.transform(37.553230, 126.972551)

(1950256.3879044417, 953600.9747718363)

In [ ]:
# transformer.transform(37.560927, 127.193877)
list1 = []
for i in range(0, len(main)):
    list1.append(transformer.transform(main['위도'][i], main['경도'][i]))

list1

[(1953680.4107067548, 953451.0305672353),
 (1952805.7150767343, 953286.5880716629),
 (1952189.7125275738, 955056.6789118368),
 (1953774.3237514026, 954435.6795061529),
 (1953223.248442944, 954699.5803852201),
 (1952327.4588193654, 956483.9647044425),
 (1952875.5529025472, 956420.6357743395),
 (1953970.565093043, 956098.4625721083),
 (1952829.6012131637, 957408.6513756055),
 (1953145.276968142, 956874.0448127431),
 (1952829.6012131637, 957408.6513756055),
 (1952829.6012131637, 957408.6513756055),
 (1952732.1914813584, 957802.5274845127),
 (1952330.4399108805, 952675.5729051178),
 (1956152.3522304904, 953258.8070320927),
 (1954369.3167579314, 953453.7461930809),
 (1952786.0967898367, 952346.0677775362),
 (1951327.7279225483, 954026.6687767816),
 (1950706.6244977568, 954198.7293203992),
 (1951005.4741406671, 954779.2664321188),
 (1951051.0375977478, 955569.7448418225),
 (1951201.9229545821, 956713.4114992636),
 (1951603.1512050403, 957551.2300707614),
 (1951749.263462746, 955120.6502352362),
 (1950359.1484195068, 956759.5967588911),
 (1950848.1859842215, 957773.5799129383),
 (1951547.023979897, 957962.2354495099),
 (1951319.7407717071, 957389.6901861619),
 (1950154.2305403461, 956820.5194565757),
 (1950662.1298788488, 957326.3972910652),
 (1951810.569643312, 957921.050483988),
 (1950970.0813317406, 953115.723533471),
 (1950284.9569045305, 953795.7552509106),
 (1949462.0954675837, 954746.7973257231),
 (1949424.9859067355, 953797.5203467604),
 (1949393.3329406723, 953346.485128354),
 (1948117.5510571564, 951761.4710612055),
 (1949067.2424600942, 952652.3476385667),
 (1948554.6400655406, 952151.578056412),
 (1948487.6238336258, 953165.0783507226),
 (1947472.1623853028, 953289.3322292849),
 (1946698.191024135, 953608.561874259),
 (1947265.3714448237, 952048.8781844992),
 (1947576.5565723332, 955838.0046750326),
 (1948967.1914697597, 955191.3000937442),
 (1948178.664397065, 956060.163592259),
 (1946594.759060147, 955180.7400862218),
 (1947391.6457821415, 955566.5364465291),
 (1951863.9694967784, 958294.0466677527),
 (1950939.1443566715, 958147.0778686466),
 (1951626.1847433723, 960073.3198211242),
 (1951073.7605905798, 960052.9936140279),
 (1950839.2210213149, 959164.1508572883),
 (1950784.444723976, 958620.78807751),
 (1949620.3735873045, 957858.9404685138),
 (1950782.5206016102, 958907.1813354607),
 (1950158.2607254102, 957979.4736869485),
 (1949562.1685171723, 957948.8556453077),
 (1949620.3735873045, 957858.9404685138),
 (1948982.591150884, 960404.5249443939),
 (1949439.8774585165, 959957.8311428023),
 (1949352.8118832572, 958355.0343372354),
 (1949836.0666692816, 960726.764692097),
 (1950366.4891964942, 962203.3204628935),
 (1951398.5823056316, 960874.0903819238),
 (1951119.4122565305, 963122.0840865667),
 (1950989.286534446, 963228.3569545435),
 (1951939.5677563462, 963115.3845274539),
 (1950853.7108070506, 963932.1257632754),
 (1950321.0302890386, 963100.335183244),
 (1949132.1527887979, 963652.4792664221),
 (1949599.0561627946, 963997.3434273849),
 (1948518.7783140175, 964145.0085614767),
 (1949546.945094269, 965226.3991378233),
 (1948058.3417309453, 963209.1516906924),
 (1947554.2553735133, 963477.407798818),
 (1948060.5604262243, 962454.0857652037),
 (1948264.3591906214, 961762.0343676662),
 (1949534.7428432293, 962253.2017614393),
 (1950075.3934417001, 962323.2550979027),
 (1952731.8773391175, 959331.4653420367),
 (1953541.9519788052, 959384.6478781768),
 (1952965.679816558, 960289.359214168),
 (1953041.8337079051, 962205.3254688203),
 (1951354.2162785237, 961177.9263435061),
 (1951788.7949288343, 961447.4564641513),
 (1951833.3693640372, 961901.7004203752),
 (1953014.9595468827, 962274.0066901149),
 (1953886.3581902513, 960218.9292270496),
 (1954384.453191264, 960938.4022971926),
 (1954618.6650603728, 961856.8109370052),
 (1954306.8555901118, 962105.612091342),
 (1954599.1272609741, 961820.6657660914),
 (1955737.6819132562, 961772.522638597),
 (1954262.3224504772, 963025.2587191451),
 (1953503.897413822, 963820.1043174323),
 (1954990.7235113669, 963600.0867660377),
 (1957150.545796183, 962752.9190942768),
 (1954990.7235113669, 963600.0867660377),
 (1953992.794825262, 963770.7590400426),
 (1955315.5101315735, 963793.0402262342),
 (1954893.6418290702, 964592.7252614299),
 (1955524.6089551977, 963172.1145533985),
 (1956214.0865821298, 962604.6771574274),
 (1956887.0877412837, 963012.3093197806),
 (1956465.2320530615, 962768.9947073418),
 (1955367.1069763165, 964917.0792504624),
 (1955452.1675824882, 965013.4927016956),
 (1956048.0723749571, 964841.5821766655),
 (1956086.2333341937, 964372.1796668917),
 (1954814.0205013652, 955389.5304216646),
 (1955937.0143949594, 958626.0820823029),
 (1955207.3804860592, 956984.8652249743),
 (1954410.580029217, 957342.0824290671),
 (1954755.6581197262, 957853.6243144197),
 (1953846.869634162, 957934.1030066017),
 (1953346.8114730373, 958032.5137767923),
 (1955583.2323181953, 957526.306817905),
 (1955922.8170094183, 957040.2219441368),
 (1956378.2714229117, 956402.6674466496),
 (1956520.874462604, 956900.4357787335),
 (1955846.7447213302, 958064.3226623094),
 (1956054.6798559448, 958278.4315146853),
 (1955370.040203173, 959072.661560796),
 (1956587.995075793, 959215.4966904483),
 (1956098.1993009474, 960302.3273510666),
 (1956937.7878135387, 959516.417561368),
 (1956667.300624078, 960776.924940061),
 (1957157.4401537268, 961153.0520017612),
 (1956098.1993009474, 960302.3273510666),
 (1958424.747417023, 958457.5628655386),
 (1957140.3891924943, 957965.6510741217),
 (1958457.1451982628, 957691.6749946657),
 (1957206.3138728132, 959044.0852222869),
 (1957452.4251141283, 958170.0174417372),
 (1959617.990559452, 958618.9982377721),
 (1958572.001521391, 959986.8051079992),
 (1958200.8835975658, 960024.154772832),
 (1962329.3432046156, 957243.036938735),
 (1958572.001521391, 959986.8051079992),
 (1959814.7999509482, 958076.1906994741),
 (1960749.2457782952, 957101.0547012828),
 (1960029.2131793897, 957015.3446989566),
 (1961254.1765445524, 960710.3308665538),
 (1961849.5953753884, 959514.5368401301),
 (1960719.4970868737, 958715.3421920867),
 (1961493.0110450287, 958550.8218334002),
 (1962528.180492255, 959609.115296876),
 (1961844.9038583953, 958541.3854777503),
 (1961982.7069324076, 958559.6165665971),
 (1960655.182756086, 960036.8713244813),
 (1959952.315607049, 959512.7455639176),
 (1959721.1279678864, 959801.7121932852),
 (1961207.2069111727, 960625.0870812433),
 (1961664.1170901104, 959933.7670306123),
 (1963795.2776785686, 959943.7292586284),
 (1963139.7583146668, 960196.5903431393),
 (1957623.297896414, 961643.9961343262),
 (1958993.2774529923, 960436.11947338),
 (1959213.354091355, 961372.5510512),
 (1958151.5334729808, 962583.0280045029),
 (1957795.294610629, 963551.3404497395),
 (1961760.3108967252, 961946.3405627885),
 (1958950.014356995, 962067.5984111162),
 (1961760.3108967252, 961946.3405627885),
 (1964267.8584594259, 960940.3442986927),
 (1961926.2999988887, 962149.705337611),
 (1963487.4018681855, 963438.2044433191),
 (1961931.5639398422, 962589.2670726527),
 (1961488.884368537, 961996.7818728462),
 (1962872.7169148216, 960849.9019480281),
 (1962561.0696594568, 961720.5106426608),
 (1961228.6571031276, 962918.2753650027),
 (1960076.4192666572, 962139.4096991544),
 (1961918.8854613276, 962967.6121603535),
 (1961016.5360951268, 962962.0745800359),
 (1954909.5219719738, 948138.4018768941),
 (1955373.6683619167, 948630.6991760586),
 (1956618.7354582946, 950067.3326418954),
 (1958396.0250624944, 949647.2221706748),
 (1958098.766734891, 948713.1614831777),
 (1957545.2018541559, 948631.750078259),
 (1956718.8507109568, 948118.8445387394),
 (1957036.6396676428, 948935.4660771216),
 (1954793.8834865948, 949262.1060271101),
 (1954873.9815739458, 949260.7758507116),
 (1954613.4781864546, 948610.6367486243),
 (1956517.6025416646, 948662.177199339),
 (1955233.2306388125, 948266.5115287175),
 (1954408.6070367733, 948041.64364434),
 (1953744.3787386112, 947834.7001182113),
 (1959344.59622061, 949108.6967615368),
 (1951488.1268655695, 949886.5451079557),
 (1950952.5062588342, 952230.6324317944),
 (1951548.949266295, 952031.8622584448),
 (1953880.4156038833, 951400.5947531434),
 (1953915.6175203647, 951575.3041594297),
 (1954766.6545248758, 951610.7827802985),
 (1950925.8233716507, 950986.5323782368),
 (1951707.392776517, 949819.5309566703),
 (1955331.6596886464, 951389.0464262228),
 (1953262.9822769677, 950229.976354613),
 (1952958.9672601537, 947455.4985777657),
 (1953442.6982573129, 948130.5144940517),
 (1952638.4472497026, 948841.0267731824),
 (1953078.5546829088, 949319.5194203447),
 (1949923.842509848, 952495.327738771),
 (1949588.2915706008, 951798.4854807402),
 (1948995.4355996693, 951717.9497453175),
 (1949113.8647386688, 951047.5309019377),
 (1949702.0102073026, 951203.5355425958),
 (1950502.2154246112, 950954.8703871093),
 (1949774.8353771532, 948750.0224449516),
 (1949774.8353771532, 948750.0224449516),
 (1950571.5788030284, 948454.9171754696),
 (1949884.5819169166, 947705.7893639809),
 (1950585.319931934, 947748.5253895677),
 (1951158.1545958787, 947371.9200522926),
 (1951623.5141444404, 949149.6245886957),
 (1951407.8333153042, 947894.3245355027),
 (1951994.0247106622, 947997.6709260917),
 (1953083.719815924, 946741.4346658053),
 (1946548.396251793, 943416.4379081451),
 (1946536.8603467746, 944579.0733417111),
 (1948056.716937402, 940843.7226257373),
 (1947088.2964393727, 941891.7728422178),
 (1946303.0408787613, 944027.7214576479),
 (1947279.3421512407, 944682.2035086001),
 (1946095.3168386878, 943171.9703020662),
 (1947769.5078645705, 944634.4772110535),
 (1949522.95581529, 944687.4748733855),
 (1949370.3553490138, 944046.9487234314),
 (1948002.7908635861, 944382.569872236),
 (1948526.3742028181, 945567.1318883714),
 (1948038.3311371512, 941134.140781443),
 (1947308.8781011605, 942507.000212088),
 (1947279.3421512407, 944682.2035086001),
 (1948618.9187730947, 940822.2401521628),
 (1946306.8041360513, 944029.8895867992),
 (1946848.1614068486, 941464.1442636424),
 (1950334.2961575699, 944651.0423548328),
 (1950471.3805970787, 943593.2746823155),
 (1950071.6407838473, 944014.692788933),
 (1950950.915784211, 942598.6011897648),
 (1949788.7778165047, 942044.3628386261),
 (1947805.6133977717, 942014.8081878242),
 (1948053.0945712978, 943162.6890199459),
 (1949144.0615739275, 941746.228836856),
 (1948109.1424168204, 943756.1960621756),
 (1949931.6877716575, 942578.2072069397),
 (1948107.4828297552, 942515.0848531077),
 (1949313.0867962416, 942559.17153016),
 (1952128.5852490705, 942320.8062157248),
 (1951653.959470234, 943101.1753972914),
 (1951653.959470234, 943101.1753972914),
 (1950325.160974402, 941301.6090078218),
 (1950885.83256031, 939345.4820120246),
 (1952098.7606144077, 939508.9779950281),
 (1951848.0153101012, 938967.4605943736),
 (1953177.602392575, 939576.3490403675),
 (1945526.9181520867, 945700.1491043465),
 (1942262.3374814633, 946783.4081937481),
 (1943501.4420250393, 945032.7538287038),
 (1943482.5182037195, 945714.1129259265),
 (1942996.7248846912, 946297.4165019826),
 (1943462.3527255105, 946187.6239921139),
 (1944493.5034927449, 946289.608082893),
 (1944309.3534883126, 943769.8629195037),
 (1945169.2844528975, 943243.143067485),
 (1944603.6090683627, 942790.8359579839),
 (1943361.2902627091, 943366.7638048083),
 (1942934.4768533495, 942918.8247230484),
 (1945557.9383113598, 946361.186427307),
 (1943423.7358298807, 941912.9019782072),
 (1943753.0330205306, 941095.363355414),
 (1941819.0544570372, 946442.3617906135),
 (1941319.2171654, 946692.7199982947),
 (1940673.5443228728, 946785.2416107332),
 (1941628.638555244, 947422.8530162094),
 (1940930.510515028, 947341.8516447709),
 (1939230.3758876235, 947410.1428686206),
 (1938789.61161841, 948395.5275658339),
 (1937761.1528216104, 947627.2326468463),
 (1940066.0530525614, 947893.3040505088),
 (1939082.6073380243, 947837.9400192681),
 (1945981.8541769565, 948050.8877996417),
 (1946735.3709133326, 948001.0243544133),
 (1946335.533766878, 950227.1650472241),
 (1947127.8626379615, 946961.7837789827),
 (1946431.5896087266, 946714.8903093766),
 (1945388.180993731, 946813.8330115872),
 (1946259.0110970333, 947097.7050711442),
 (1947082.4191871372, 946125.849388467),
 (1948684.662792328, 946864.4396180141),
 (1945600.6913744009, 949105.5834708416),
 (1945321.8013070098, 947891.8633559315),
 (1945155.202851658, 948379.9708944076),
 (1944564.4574359902, 947619.6306348355),
 (1944314.131206603, 948025.4117304846),
 (1945085.4165773713, 949055.536261726),
 (1943017.7225689224, 946964.3919335842),
 (1943585.231729968, 946997.0272408073),
 (1944201.3071758542, 946982.2073556194),
 (1945732.2915255541, 950869.9995651495),
 (1945299.776728977, 950463.1985074128),
 (1944492.1151089356, 951895.7360058437),
 (1944970.8988788805, 950898.1196204758),
 (1944279.2669179833, 949921.162631873),
 (1944468.6434324305, 950486.1166439806),
 (1944997.7319230603, 953049.1044472137),
 (1942438.1282787798, 954215.7095924348),
 (1943205.8005682167, 953924.2713226097),
 (1942884.0399230097, 953450.4925481018),
 (1942220.2777474856, 953239.8524773503),
 (1942762.9030433297, 953066.462029628),
 (1945350.1796491474, 949394.1540966635),
 (1943031.5635760876, 948223.5261225369),
 (1944143.4069608273, 949136.2477271963),
 (1941725.6974905934, 952302.700465944),
 (1942422.2324871602, 951495.918531608),
 (1943188.108085128, 951408.7444580738),
 (1942729.3444192107, 950894.7788786376),
 (1941593.2702219316, 952905.0722220569),
 (1942599.7896867436, 951546.1571150778),
 (1942048.109105611, 950821.698729496),
 (1943450.3012338332, 952330.223168192),
 (1942209.1537821242, 952187.7724709733),
 (1941152.021075628, 949048.1794169777),
 (1940111.0231585256, 948784.520188452),
 (1941125.4466768838, 950557.7669641187),
 (1941738.779927716, 948513.9036894421),
 (1939902.1257299718, 949132.3623512369),
 (1941591.7473828683, 950232.0392019622),
 (1941125.4466768838, 950557.7669641187),
 (1942976.822807965, 949546.6784341566),
 (1942761.3573055407, 948746.4391310903),
 (1942412.1531940938, 949510.3412436006),
 (1942467.0726143331, 947839.0351924744),
 (1941484.8687391155, 954042.2047764938),
 (1942548.774229721, 955490.7272109156),
 (1942387.8577742297, 954711.9192753212),
 (1942242.6530853626, 955866.3698388498),
 (1944169.829297956, 954849.5478923367),
 (1943563.6799844103, 954977.7348916397),
 (1941056.4341154383, 959622.1625268542),
 (1941178.481059938, 958339.1829970246),
 (1945552.0095683534, 956362.2832592775),
 (1945988.1907873936, 957242.8076956422),
 (1944895.335775065, 957181.0275301308),
 (1944847.4492115504, 955511.6819052522),
 (1944016.9964844312, 956041.5288043437),
 (1945445.18854503, 957726.3423691964),
 (1943230.163541861, 957783.8559588541),
 (1943445.1378111306, 958195.801821165),
 (1942513.5749643173, 957067.5430025104),
 (1944623.1515072873, 957955.6219895263),
 (1940119.7334263078, 960626.8519905879),
 (1943811.565355067, 958918.15250314),
 (1943879.3310702494, 960143.5112740042),
 (1943349.4727048634, 962416.4335191436),
 (1943172.9473370286, 962098.6311723894),
 (1941867.5816703674, 960542.7211540655),
 (1942947.610215014, 962249.5715899202),
 (1947222.6519823652, 960623.5861319463),
 (1945901.339926442, 961530.1780514191),
 (1945558.7249089275, 960065.1789499952),
 (1943568.1659873691, 961011.5964078723),
 (1944565.3471221894, 961671.2519376472),
 (1944322.8450102853, 961114.0331188637),
 (1946987.586158485, 958025.409467277),
 (1945606.5444163512, 958515.0382458523),
 (1946248.5036357793, 959291.5032353237),
 (1947582.889102046, 958632.7136318448),
 (1940856.8847147534, 965428.7442025659),
 (1943418.7675447671, 963734.7847160684),
 (1942447.0706105053, 963632.5902625946),
 (1942926.4759745228, 965084.2453421217),
 (1943146.711733763, 959376.9018836502),
 (1942810.9676557826, 960002.8537810479),
 (1945622.2299357476, 963823.873971155),
 (1945773.9998232624, 964345.527223334),
 (1945065.955686682, 962596.9052854145),
 (1945126.8980548093, 963476.6930161336),
 (1946523.5148009935, 965937.0010909854),
 (1946501.2793349056, 965983.4117886616),
 (1948527.551710627, 966793.7678449426),
 (1947477.0414865084, 966331.8003384926),
 (1944879.3181150525, 965481.7805507743),
 (1944547.59532202, 966309.39411404),
 (1944757.6278644938, 965272.679059893),
 (1944600.3929378497, 964176.3779197185),
 (1945583.7728774054, 967309.0553951894),
 (1944017.0679290576, 967228.4203865284),
 (1943688.3798720764, 966651.5658459059),
 (1946164.328107765, 968717.235057397),
 (1945119.042055022, 967742.9124600114),
 (1942775.855534776, 967728.9630924147),
 (1941964.0234030348, 968518.3011299986),
 (1945505.8291202674, 966951.544141833),
 (1944879.3181150525, 965481.7805507743),
 (1945583.7728774054, 967309.0553951894),
 (1944621.9536550918, 967265.5625576312),
 (1943864.4448288444, 968567.200759449),
 (1943562.211860385, 968972.9445495264),
 (1944830.855521241, 967849.8806335791),
 (1944830.855521241, 967849.8806335791),
 (1947370.900523491, 968050.6845578061),
 (1949337.5373279033, 971017.3668295707),
 (1950525.256171944, 969177.9924433383),
 (1950985.858360092, 970548.2404105642),
 (1950021.2450552767, 970623.2751643693),
 (1948630.9427399847, 968934.6994786214),
 (1946844.1817384833, 968108.7351659017),
 (1947826.779814256, 968605.2682452908),
 (1949919.4425368765, 967655.7734980931),
 (1950128.1137742088, 967273.6664144043),
 (1950380.8904897594, 968465.0403867911),
 (1947495.9796905417, 967058.538436754),
 (1947921.0278591136, 967307.7770193663),
 (1947042.623992449, 967692.0436552811),
 (1949387.6513207175, 968010.5936433771),
 (1948866.3905639474, 967003.0249156283),
 (1948669.2854081572, 967442.9193460506),
 (1951475.249217575, 971391.6908155383),
 (1952397.4335336261, 954952.17083824),
 (1952804.5918478079, 956584.0027064033),
 (1952771.471888867, 952351.1859903103),
 (1950116.2729135612, 956816.6647995628),
 (1950733.3763262026, 957342.4065915416),
 (1947671.8254327388, 956620.8834497369),
 (1950133.5370306775, 953209.4752108158),
 (1951576.8680879292, 959718.0502555429),
 (1951863.9694967784, 958294.0466677527),
 (1951073.7605905798, 960052.9936140279),
 (1950075.3934417001, 962323.2550979027),
 (1953974.875836125, 960361.758775867),
 (1954047.6233651598, 962956.4933222564),
 (1956876.614085806, 964115.3273784731),
 (1953947.8940562252, 965006.0712884602),
 (1955763.284585242, 963222.4891596413),
 (1955572.421161801, 964889.8261072243),
 (1955177.5131428738, 959060.8688942702),
 (1956120.4545811692, 961250.3339524164),
 (1956846.501191214, 956713.3508688897),
 (1957157.4401537268, 961153.0520017612),
 (1956044.960161279, 960454.1324725883),
 (1959468.91398146, 957695.0087837904),
 (1957926.2179171124, 957617.8382724223),
 (1961975.7157716318, 959245.4307992043),
 (1961098.8084719214, 957744.249261191),
 (1963018.0341274736, 958997.5271545532),
 (1959505.4743319522, 959735.7685739921),
 (1964455.875703018, 959930.1905197817),
 (1960083.3691291134, 962647.875436232),
 (1960419.9466740848, 961966.6311560738),
 (1959021.886841166, 949910.1303882445),
 (1955844.5708793043, 948378.687504807),
 (1958266.3900650272, 948944.8920173584),
 (1954866.6675156625, 948666.2482289735),
 (1957609.2131363533, 949365.4810026506),
 (1954408.6070367733, 948041.64364434),
 (1956750.5617992862, 949095.8762832889),
 (1951618.0686594632, 952519.7486722071),
 (1950817.266793437, 950138.6277888571),
 (1953526.1317896734, 951690.3300227084),
 (1953441.9279258137, 948859.3652250166),
 (1952134.7438615968, 949046.1233720641),
 (1950465.9507641622, 950429.7891612513),
 (1950345.204454475, 952540.2112210237),
 (1949113.8647386688, 951047.5309019377),
 (1945886.7993192864, 944308.9926196864),
 (1948568.8581201893, 944502.5462157216),
 (1946432.7944254521, 941146.8094183827),
 (1946684.577436798, 942497.4718170109),
 (1950922.1197408766, 942328.950256155),
 (1948294.0349698071, 941805.2747420036),
 (1950230.3538139004, 943005.164652316),
 (1949089.4877074817, 943027.2132362782),
 (1947658.8925444514, 941707.2987047888),
 (1944844.6499094542, 946383.8931378131),

In [ ]:
df = pd.DataFrame(list1)
df.columns = ['위도UTMK', '경도UTMK']
df

           위도UTMK         경도UTMK
0    1.953680e+06  953451.030567
1    1.952806e+06  953286.588072
2    1.952190e+06  955056.678912
3    1.953774e+06  954435.679506
4    1.953223e+06  954699.580385
..            ...            ...
504  1.949452e+06  967593.315153
505  1.954203e+06  957275.933852
506  1.939588e+06  946023.287446
507  1.941835e+06  954896.456135
508  1.951614e+06  960669.395691

[509 rows x 2 columns]

In [ ]:
main0 = pd.concat([main, df], axis=1)
main0

,자치구,동,시설명,주소,연면적,위도,경도,위도UTMK,경도UTMK
0.0,종로구,청운효자동,청운효자동 주민센터,서울특별시 종로구 자하문로 92,965.52,37.584083,126.970636,1.953680e+06,953451.030567
1.0,종로구,사직동,사직동 주민센터,서울특별시 종로구 사직로9길 1,346.65,37.576191,126.968829,1.952806e+06,953286.588072
2.0,종로구,종로1.2.3.4가동,종로1-4가동 주민센터,서울특별시 종로구 종로17길 8,1981.09,37.570728,126.988912,1.952190e+06,955056.678912
3.0,종로구,삼청동,삼청동 주민센터,서울특별시 종로구 삼청로 107,998.1,37.584979,126.981782,1.953774e+06,954435.679506
4.0,종로구,가회동,가회동 주민센터,서울특별시 종로구 북촌로 35,1032.08,37.580025,126.984805,1.953223e+06,954699.580385
...,...,...,...,...,...,...,...,...,...
504.0,강동구,천호2동,해공노인복지관,서울특별시 강동구 천중로17길 42-16,598,37.546582,127.130996,1.949452e+06,967593.315153
505.0,성북구,삼선동,삼선실버복지센터,서울특별시 성북구 삼선교로18길 41,542.11,37.588977,127.013925,1.954203e+06,957275.933852
506.0,금천구,독산1동,금천한내어르신복지센터,서울특별시 금천구 한내로 69-15,2003,37.456658,126.887549,1.939588e+06,946023.287446
507.0,서초구,방배3동,방배느티나무쉼터,서울특별시 서초구 남부순환로287길 17-4,519.5,37.477389,126.987735,1.941835e+06,954896.456135
508.0,성동구,용답동,삼성시니어센터,서울특별시 성동구 용답동 72-17,1716.38,37.565800,127.052500,1.951614e+06,960669.395691

In [ ]:
main = main0

## 주변특성 개수 찾기 시작

In [ ]:
# 도서관 UTMK 위경도 데이터 불러오기
library = pd.read_excel('/content/drive/MyDrive/시소프로젝트/NEW(공모전용)/대중교통, 주변특성 데이터/공공도서관 위도경도 변환.xlsx',index_col =0)
library = library.iloc[:,13:15]
library.head(1)

         위도UTMK         경도UTMK
0  1.941139e+06  964517.755038

In [ ]:
x = main['위도UTMK']
x.head(1)

0.0    1.953680e+06
Name: 위도UTMK, dtype: float64

In [ ]:
y = main['경도UTMK']
y.head(1)

0.0    953451.030567
Name: 경도UTMK, dtype: float64

In [ ]:
a1 = library['위도UTMK']
a1.head(1)

0    1.941139e+06
Name: 위도UTMK, dtype: float64

In [ ]:
a2 = library['경도UTMK']
a2.head(1)

0    964517.755038
Name: 경도UTMK, dtype: float64

In [ ]:
main["도서관(500)"] = 0
main.head(1)

,자치구,동,시설명,주소,연면적,위도,경도,위도UTMK,경도UTMK,도서관(500)
0.0,종로구,청운효자동,청운효자동 주민센터,서울특별시 종로구 자하문로 92,965.52,37.584083,126.970636,1.953680e+06,953451.030567,0

In [ ]:
# 반경 500m 내의 도서관 개수 찾기 
for i in range(len(main)):
    for j in range(len(library)):
        value = False
        value = np.sqrt((x[i] - a1[j])**2 + (y[i] - a2[j])**2) <= 500
        if value == True:
            main['도서관(500)'][i] += int(value)
        else:
            pass
main

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,자치구,동,시설명,주소,연면적,위도,경도,위도UTMK,경도UTMK,도서관(500)
0.0,종로구,청운효자동,청운효자동 주민센터,서울특별시 종로구 자하문로 92,965.52,37.584083,126.970636,1.953680e+06,953451.030567,0
1.0,종로구,사직동,사직동 주민센터,서울특별시 종로구 사직로9길 1,346.65,37.576191,126.968829,1.952806e+06,953286.588072,2
2.0,종로구,종로1.2.3.4가동,종로1-4가동 주민센터,서울특별시 종로구 종로17길 8,1981.09,37.570728,126.988912,1.952190e+06,955056.678912,0
3.0,종로구,삼청동,삼청동 주민센터,서울특별시 종로구 삼청로 107,998.1,37.584979,126.981782,1.953774e+06,954435.679506,1
4.0,종로구,가회동,가회동 주민센터,서울특별시 종로구 북촌로 35,1032.08,37.580025,126.984805,1.953223e+06,954699.580385,1
...,...,...,...,...,...,...,...,...,...,...
504.0,강동구,천호2동,해공노인복지관,서울특별시 강동구 천중로17길 42-16,598,37.546582,127.130996,1.949452e+06,967593.315153,0
505.0,성북구,삼선동,삼선실버복지센터,서울특별시 성북구 삼선교로18길 41,542.11,37.588977,127.013925,1.954203e+06,957275.933852,0
506.0,금천구,독산1동,금천한내어르신복지센터,서울특별시 금천구 한내로 69-15,2003,37.456658,126.887549,1.939588e+06,946023.287446,0
507.0,서초구,방배3동,방배느티나무쉼터,서울특별시 서초구 남부순환로287길 17-4,519.5,37.477389,126.987735,1.941835e+06,954896.456135,0
508.0,성동구,용답동,삼성시니어센터,서울특별시 성동구 용답동 72-17,1716.38,37.565800,127.052500,1.951614e+06,960669.395691,1

In [ ]:
#배움터 시설 UTMK 데이터 가져오기
academy = pd.read_excel('/content/drive/MyDrive/시소프로젝트/NEW(공모전용)/대중교통, 주변특성 데이터/배움터 위도경도 변환.xlsx',index_col =0)
academy.head(1)

          위도          경도        위도UTMK        경도UTMK
0  37.577213  127.006909  1.952901e+06  956649.72721

In [ ]:
a1 = academy['위도UTMK']
a1.head(1)

0    1.952901e+06
Name: 위도UTMK, dtype: float64

In [ ]:
a2 = academy['경도UTMK']
a2.head(1)

0    956649.72721
Name: 경도UTMK, dtype: float64

In [ ]:
main["배움터(500)"] = 0
main.head(2)

,자치구,동,시설명,주소,연면적,위도,경도,위도UTMK,경도UTMK,도서관(500),배움터(500)
0.0,종로구,청운효자동,청운효자동 주민센터,서울특별시 종로구 자하문로 92,965.52,37.584083,126.970636,1.953680e+06,953451.030567,0,0
1.0,종로구,사직동,사직동 주민센터,서울특별시 종로구 사직로9길 1,346.65,37.576191,126.968829,1.952806e+06,953286.588072,2,0

In [ ]:
for i in range(len(main)):
    for j in range(len(academy)):
        value = False
        value = np.sqrt((x[i] - a1[j])**2 + (y[i] - a2[j])**2) <= 500
        if value == True:
            main['배움터(500)'][i] += int(value)
        else:
            pass
main

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,자치구,동,시설명,주소,연면적,위도,경도,위도UTMK,경도UTMK,도서관(500),배움터(500)
0.0,종로구,청운효자동,청운효자동 주민센터,서울특별시 종로구 자하문로 92,965.52,37.584083,126.970636,1.953680e+06,953451.030567,0,0
1.0,종로구,사직동,사직동 주민센터,서울특별시 종로구 사직로9길 1,346.65,37.576191,126.968829,1.952806e+06,953286.588072,2,0
2.0,종로구,종로1.2.3.4가동,종로1-4가동 주민센터,서울특별시 종로구 종로17길 8,1981.09,37.570728,126.988912,1.952190e+06,955056.678912,0,2
3.0,종로구,삼청동,삼청동 주민센터,서울특별시 종로구 삼청로 107,998.1,37.584979,126.981782,1.953774e+06,954435.679506,1,0
4.0,종로구,가회동,가회동 주민센터,서울특별시 종로구 북촌로 35,1032.08,37.580025,126.984805,1.953223e+06,954699.580385,1,0
...,...,...,...,...,...,...,...,...,...,...,...
504.0,강동구,천호2동,해공노인복지관,서울특별시 강동구 천중로17길 42-16,598,37.546582,127.130996,1.949452e+06,967593.315153,0,2
505.0,성북구,삼선동,삼선실버복지센터,서울특별시 성북구 삼선교로18길 41,542.11,37.588977,127.013925,1.954203e+06,957275.933852,0,1
506.0,금천구,독산1동,금천한내어르신복지센터,서울특별시 금천구 한내로 69-15,2003,37.456658,126.887549,1.939588e+06,946023.287446,0,1
507.0,서초구,방배3동,방배느티나무쉼터,서울특별시 서초구 남부순환로287길 17-4,519.5,37.477389,126.987735,1.941835e+06,954896.456135,0,0
508.0,성동구,용답동,삼성시니어센터,서울특별시 성동구 용답동 72-17,1716.38,37.565800,127.052500,1.951614e+06,960669.395691,1,0

In [ ]:
# 병원 UTMK 데이터 가져오기
hospital = pd.read_excel('/content/drive/MyDrive/시소프로젝트/NEW(공모전용)/대중교통, 주변특성 데이터/병원 UTMK변환.xlsx',index_col =0)
hospital.head(1)

          위도          경도        위도UTMK         경도UTMK
0  37.528592  126.863614  1.947582e+06  943960.198502

In [ ]:
a1 = hospital['위도UTMK']
a1.head(1)

0    1.947582e+06
Name: 위도UTMK, dtype: float64

In [ ]:
a2 = hospital['경도UTMK']
a2.head(1)

0    943960.198502
Name: 경도UTMK, dtype: float64

In [ ]:
main["병원(500)"] = 0
main.head(3)

,자치구,동,시설명,주소,연면적,위도,경도,위도UTMK,경도UTMK,도서관(500),배움터(500),병원(500)
0.0,종로구,청운효자동,청운효자동 주민센터,서울특별시 종로구 자하문로 92,965.52,37.584083,126.970636,1.953680e+06,953451.030567,0,0,0
1.0,종로구,사직동,사직동 주민센터,서울특별시 종로구 사직로9길 1,346.65,37.576191,126.968829,1.952806e+06,953286.588072,2,0,0
2.0,종로구,종로1.2.3.4가동,종로1-4가동 주민센터,서울특별시 종로구 종로17길 8,1981.09,37.570728,126.988912,1.952190e+06,955056.678912,0,2,0

In [ ]:
for i in range(len(main)):
    for j in range(len(hospital)):
        value = False
        value = np.sqrt((x[i] - a1[j])**2 + (y[i] - a2[j])**2) <= 500
        if value == True:
            main['병원(500)'][i] += int(value)
        else:
            pass
main

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,자치구,동,시설명,주소,연면적,위도,경도,위도UTMK,경도UTMK,도서관(500),배움터(500),병원(500)
0.0,종로구,청운효자동,청운효자동 주민센터,서울특별시 종로구 자하문로 92,965.52,37.584083,126.970636,1.953680e+06,953451.030567,0,0,0
1.0,종로구,사직동,사직동 주민센터,서울특별시 종로구 사직로9길 1,346.65,37.576191,126.968829,1.952806e+06,953286.588072,2,0,0
2.0,종로구,종로1.2.3.4가동,종로1-4가동 주민센터,서울특별시 종로구 종로17길 8,1981.09,37.570728,126.988912,1.952190e+06,955056.678912,0,2,1
3.0,종로구,삼청동,삼청동 주민센터,서울특별시 종로구 삼청로 107,998.1,37.584979,126.981782,1.953774e+06,954435.679506,1,0,0
4.0,종로구,가회동,가회동 주민센터,서울특별시 종로구 북촌로 35,1032.08,37.580025,126.984805,1.953223e+06,954699.580385,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
504.0,강동구,천호2동,해공노인복지관,서울특별시 강동구 천중로17길 42-16,598,37.546582,127.130996,1.949452e+06,967593.315153,0,2,0
505.0,성북구,삼선동,삼선실버복지센터,서울특별시 성북구 삼선교로18길 41,542.11,37.588977,127.013925,1.954203e+06,957275.933852,0,1,0
506.0,금천구,독산1동,금천한내어르신복지센터,서울특별시 금천구 한내로 69-15,2003,37.456658,126.887549,1.939588e+06,946023.287446,0,1,0
507.0,서초구,방배3동,방배느티나무쉼터,서울특별시 서초구 남부순환로287길 17-4,519.5,37.477389,126.987735,1.941835e+06,954896.456135,0,0,0
508.0,성동구,용답동,삼성시니어센터,서울특별시 성동구 용답동 72-17,1716.38,37.565800,127.052500,1.951614e+06,960669.395691,1,0,0

In [ ]:
# 공원 UTMK 데이터 가져오기 
park = pd.read_excel('/content/drive/MyDrive/시소프로젝트/NEW(공모전용)/대중교통, 주변특성 데이터/서울공원 위도경도 변환.xlsx',index_col =0)
park = park.iloc[:,20:]
park.head(1)

           위도UTMK         경도UTMK
0.0  1.949905e+06  955173.699701

In [ ]:
a1 = park['위도UTMK']
a1.head(1)

0.0    1.949905e+06
Name: 위도UTMK, dtype: float64

In [ ]:
a2 = park['경도UTMK']
a2.head(1)

0.0    955173.699701
Name: 경도UTMK, dtype: float64

In [ ]:
main["공원(500)"] = 0
main.head(3)

,자치구,동,시설명,주소,연면적,위도,경도,위도UTMK,경도UTMK,도서관(500),배움터(500),병원(500),공원(500)
0.0,종로구,청운효자동,청운효자동 주민센터,서울특별시 종로구 자하문로 92,965.52,37.584083,126.970636,1.953680e+06,953451.030567,0,0,0,0
1.0,종로구,사직동,사직동 주민센터,서울특별시 종로구 사직로9길 1,346.65,37.576191,126.968829,1.952806e+06,953286.588072,2,0,0,0
2.0,종로구,종로1.2.3.4가동,종로1-4가동 주민센터,서울특별시 종로구 종로17길 8,1981.09,37.570728,126.988912,1.952190e+06,955056.678912,0,2,1,0

In [ ]:
for i in range(len(main)):
    for j in range(len(park)):
        value = False
        value = np.sqrt((x[i] - a1[j])**2 + (y[i] - a2[j])**2) <= 500
        if value == True:
            main['공원(500)'][i] += int(value)
        else:
            pass
main

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,자치구,동,시설명,주소,연면적,위도,경도,위도UTMK,경도UTMK,도서관(500),배움터(500),병원(500),공원(500)
0.0,종로구,청운효자동,청운효자동 주민센터,서울특별시 종로구 자하문로 92,965.52,37.584083,126.970636,1.953680e+06,953451.030567,0,0,0,0
1.0,종로구,사직동,사직동 주민센터,서울특별시 종로구 사직로9길 1,346.65,37.576191,126.968829,1.952806e+06,953286.588072,2,0,0,1
2.0,종로구,종로1.2.3.4가동,종로1-4가동 주민센터,서울특별시 종로구 종로17길 8,1981.09,37.570728,126.988912,1.952190e+06,955056.678912,0,2,1,1
3.0,종로구,삼청동,삼청동 주민센터,서울특별시 종로구 삼청로 107,998.1,37.584979,126.981782,1.953774e+06,954435.679506,1,0,0,0
4.0,종로구,가회동,가회동 주민센터,서울특별시 종로구 북촌로 35,1032.08,37.580025,126.984805,1.953223e+06,954699.580385,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
504.0,강동구,천호2동,해공노인복지관,서울특별시 강동구 천중로17길 42-16,598,37.546582,127.130996,1.949452e+06,967593.315153,0,2,0,1
505.0,성북구,삼선동,삼선실버복지센터,서울특별시 성북구 삼선교로18길 41,542.11,37.588977,127.013925,1.954203e+06,957275.933852,0,1,0,0
506.0,금천구,독산1동,금천한내어르신복지센터,서울특별시 금천구 한내로 69-15,2003,37.456658,126.887549,1.939588e+06,946023.287446,0,1,0,0
507.0,서초구,방배3동,방배느티나무쉼터,서울특별시 서초구 남부순환로287길 17-4,519.5,37.477389,126.987735,1.941835e+06,954896.456135,0,0,0,0
508.0,성동구,용답동,삼성시니어센터,서울특별시 성동구 용답동 72-17,1716.38,37.565800,127.052500,1.951614e+06,960669.395691,1,0,0,0

## 대중교통 개수 찾기 시작

In [ ]:
bus = pd.read_excel('/content/drive/MyDrive/시소프로젝트/NEW(공모전용)/대중교통, 주변특성 데이터/서울 버스정류장.xlsx',index_col =0)
bus.head(1)

   ARS-ID     정류소명        X좌표        Y좌표        위도UTMK         경도UTMK
0    1001  종로2가사거리  126.98775  37.569765  1.952083e+06  954953.448869

In [ ]:
a1 = bus['위도UTMK']
a1.head(1)

0    1.952083e+06
Name: 위도UTMK, dtype: float64

In [ ]:
a2 = bus['경도UTMK']
a2.head(1)

0    954953.448869
Name: 경도UTMK, dtype: float64

In [ ]:
main["버스(100)"] = 0
main.head(3)

,자치구,동,시설명,주소,연면적,위도,경도,위도UTMK,경도UTMK,도서관(500),배움터(500),병원(500),공원(500),버스(100)
0.0,종로구,청운효자동,청운효자동 주민센터,서울특별시 종로구 자하문로 92,965.52,37.584083,126.970636,1.953680e+06,953451.030567,0,0,0,0,0
1.0,종로구,사직동,사직동 주민센터,서울특별시 종로구 사직로9길 1,346.65,37.576191,126.968829,1.952806e+06,953286.588072,2,0,0,1,0
2.0,종로구,종로1.2.3.4가동,종로1-4가동 주민센터,서울특별시 종로구 종로17길 8,1981.09,37.570728,126.988912,1.952190e+06,955056.678912,0,2,1,1,0

In [ ]:
for i in range(len(main)):
    for j in range(len(bus)):
        value = False
        value = np.sqrt((x[i] - a1[j])**2 + (y[i] - a2[j])**2) <= 100
        if value == True:
            main['버스(100)'][i] += int(value)
        else:
            pass
main

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,자치구,동,시설명,주소,연면적,위도,경도,위도UTMK,경도UTMK,도서관(500),배움터(500),병원(500),공원(500),버스(100)
0.0,종로구,청운효자동,청운효자동 주민센터,서울특별시 종로구 자하문로 92,965.52,37.584083,126.970636,1.953680e+06,953451.030567,0,0,0,0,1
1.0,종로구,사직동,사직동 주민센터,서울특별시 종로구 사직로9길 1,346.65,37.576191,126.968829,1.952806e+06,953286.588072,2,0,0,1,1
2.0,종로구,종로1.2.3.4가동,종로1-4가동 주민센터,서울특별시 종로구 종로17길 8,1981.09,37.570728,126.988912,1.952190e+06,955056.678912,0,2,1,1,4
3.0,종로구,삼청동,삼청동 주민센터,서울특별시 종로구 삼청로 107,998.1,37.584979,126.981782,1.953774e+06,954435.679506,1,0,0,0,3
4.0,종로구,가회동,가회동 주민센터,서울특별시 종로구 북촌로 35,1032.08,37.580025,126.984805,1.953223e+06,954699.580385,1,0,0,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
504.0,강동구,천호2동,해공노인복지관,서울특별시 강동구 천중로17길 42-16,598,37.546582,127.130996,1.949452e+06,967593.315153,0,2,0,1,0
505.0,성북구,삼선동,삼선실버복지센터,서울특별시 성북구 삼선교로18길 41,542.11,37.588977,127.013925,1.954203e+06,957275.933852,0,1,0,0,0
506.0,금천구,독산1동,금천한내어르신복지센터,서울특별시 금천구 한내로 69-15,2003,37.456658,126.887549,1.939588e+06,946023.287446,0,1,0,0,3
507.0,서초구,방배3동,방배느티나무쉼터,서울특별시 서초구 남부순환로287길 17-4,519.5,37.477389,126.987735,1.941835e+06,954896.456135,0,0,0,0,3
508.0,성동구,용답동,삼성시니어센터,서울특별시 성동구 용답동 72-17,1716.38,37.565800,127.052500,1.951614e+06,960669.395691,1,0,0,0,0

In [ ]:
sandwich = pd.read_excel('/content/drive/MyDrive/시소프로젝트/NEW(공모전용)/대중교통, 주변특성 데이터/서울시 지하철역 위치.xlsx',index_col =0)
sandwich.head(1)

   역사_ID 역사명   호선          위도         경도        위도UTMK         경도UTMK
0   9996  미사  5호선  127.193877  37.560927  1.951024e+06  973153.163495

In [ ]:
a1 = sandwich['위도UTMK']
a1.head(1)

0    1.951024e+06
Name: 위도UTMK, dtype: float64

In [ ]:
a2 = sandwich['경도UTMK']
a2.head(1)

0    973153.163495
Name: 경도UTMK, dtype: float64

In [ ]:
main["지하철(250)"] = 0
main.head(3)

,자치구,동,시설명,주소,연면적,위도,경도,위도UTMK,경도UTMK,도서관(500),배움터(500),병원(500),공원(500),버스(100),지하철(250)
0.0,종로구,청운효자동,청운효자동 주민센터,서울특별시 종로구 자하문로 92,965.52,37.584083,126.970636,1.953680e+06,953451.030567,0,0,0,0,1,0
1.0,종로구,사직동,사직동 주민센터,서울특별시 종로구 사직로9길 1,346.65,37.576191,126.968829,1.952806e+06,953286.588072,2,0,0,1,1,0
2.0,종로구,종로1.2.3.4가동,종로1-4가동 주민센터,서울특별시 종로구 종로17길 8,1981.09,37.570728,126.988912,1.952190e+06,955056.678912,0,2,1,1,4,0

In [ ]:
for i in range(len(main)):
    for j in range(len(sandwich)):
        value = False
        value = np.sqrt((x[i] - a1[j])**2 + (y[i] - a2[j])**2) <= 250
        if value == True:
            main['지하철(250)'][i] += int(value)
        else:
            pass
main

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,자치구,동,시설명,주소,연면적,위도,경도,위도UTMK,경도UTMK,도서관(500),배움터(500),병원(500),공원(500),버스(100),지하철(250)
0.0,종로구,청운효자동,청운효자동 주민센터,서울특별시 종로구 자하문로 92,965.52,37.584083,126.970636,1.953680e+06,953451.030567,0,0,0,0,1,0
1.0,종로구,사직동,사직동 주민센터,서울특별시 종로구 사직로9길 1,346.65,37.576191,126.968829,1.952806e+06,953286.588072,2,0,0,1,1,0
2.0,종로구,종로1.2.3.4가동,종로1-4가동 주민센터,서울특별시 종로구 종로17길 8,1981.09,37.570728,126.988912,1.952190e+06,955056.678912,0,2,1,1,4,1
3.0,종로구,삼청동,삼청동 주민센터,서울특별시 종로구 삼청로 107,998.1,37.584979,126.981782,1.953774e+06,954435.679506,1,0,0,0,3,0
4.0,종로구,가회동,가회동 주민센터,서울특별시 종로구 북촌로 35,1032.08,37.580025,126.984805,1.953223e+06,954699.580385,1,0,0,0,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
504.0,강동구,천호2동,해공노인복지관,서울특별시 강동구 천중로17길 42-16,598,37.546582,127.130996,1.949452e+06,967593.315153,0,2,0,1,0,0
505.0,성북구,삼선동,삼선실버복지센터,서울특별시 성북구 삼선교로18길 41,542.11,37.588977,127.013925,1.954203e+06,957275.933852,0,1,0,0,0,0
506.0,금천구,독산1동,금천한내어르신복지센터,서울특별시 금천구 한내로 69-15,2003,37.456658,126.887549,1.939588e+06,946023.287446,0,1,0,0,3,0
507.0,서초구,방배3동,방배느티나무쉼터,서울특별시 서초구 남부순환로287길 17-4,519.5,37.477389,126.987735,1.941835e+06,954896.456135,0,0,0,0,3,0
508.0,성동구,용답동,삼성시니어센터,서울특별시 성동구 용답동 72-17,1716.38,37.565800,127.052500,1.951614e+06,960669.395691,1,0,0,0,0,1

In [ ]:
# 엑셀로 저장
# main.to_excel('주민센터 - 주변특성 + 대중교통.xlsx')

# merge

- main(주민센터, 주변특성, 대중교통, 연면적, 위경도) - 자치구, 동 -
- people(인구변수) - 구, 동 -
- final_df(동이름, 디지털 정보 지수) - 동, 디지털 정보 지수 -

In [ ]:
main = pd.read_excel('/content/drive/MyDrive/시소프로젝트/NEW(공모전용)/전처리용/주민센터 - 주변특성 + 대중교통.xlsx', index_col=0)

In [ ]:
main.head()

,자치구,동,시설명,주소,연면적,위도,경도,위도UTMK,경도UTMK,도서관(500),배움터(500),병원(500),공원(500),버스(100),지하철(250)
0.0,종로구,청운효자동,청운효자동 주민센터,서울특별시 종로구 자하문로 92,965.52,37.584083,126.970636,1.953680e+06,953451.030567,0.0,0.0,0.0,0.0,1.0,0.0
1.0,종로구,사직동,사직동 주민센터,서울특별시 종로구 사직로9길 1,346.65,37.576191,126.968829,1.952806e+06,953286.588072,2.0,0.0,0.0,1.0,1.0,0.0
2.0,종로구,종로1.2.3.4가동,종로1-4가동 주민센터,서울특별시 종로구 종로17길 8,1981.09,37.570728,126.988912,1.952190e+06,955056.678912,0.0,2.0,1.0,1.0,4.0,1.0
3.0,종로구,삼청동,삼청동 주민센터,서울특별시 종로구 삼청로 107,998.1,37.584979,126.981782,1.953774e+06,954435.679506,1.0,0.0,0.0,0.0,3.0,0.0
4.0,종로구,가회동,가회동 주민센터,서울특별시 종로구 북촌로 35,1032.08,37.580025,126.984805,1.953223e+06,954699.580385,1.0,0.0,0.0,0.0,2.0,0.0

In [ ]:
main.shape

(509, 15)

In [ ]:
people.head()

,시군구,동,동별전체인구,60세~,60세~/전체인구,구별전체인구,60세~/구별전체,보행인구,비율
0,종로구,사직동,9372,2468,0.263338,39120,0.063088,4.474791e+06,282305.293147
1,종로구,삼청동,2456,827,0.336726,39120,0.021140,4.474791e+06,94597.438184
2,종로구,부암동,9579,2558,0.267042,39120,0.065389,4.474791e+06,292600.056687
3,종로구,평창동,18152,4937,0.271981,39120,0.126201,4.474791e+06,564724.972591
4,종로구,무악동,8259,2006,0.242887,39120,0.051278,4.474791e+06,229458.840382

In [ ]:
people.shape

(425, 9)

In [ ]:
people.rename(columns={'시군구' : '자치구'}, inplace=True)

In [ ]:
final_df = pd.read_excel('/content/drive/MyDrive/시소프로젝트/NEW(공모전용)/전처리용/동별 디지털정보지수(50~).xlsx', index_col=0)

In [ ]:
final_df.head()

       동  디지털정보지수
0.0  사직동  2406.94
1.0  삼청동   680.87
2.0  부암동  2589.79
3.0  평창동  5073.30
4.0  무악동  2145.94

In [ ]:
main_df = pd.merge(main, people, how='left',on=['자치구', '동'])
main_df

,자치구,동,시설명,주소,연면적,위도,경도,위도UTMK,경도UTMK,도서관(500),...,공원(500),버스(100),지하철(250),동별전체인구,60세~,60세~/전체인구,구별전체인구,60세~/구별전체,보행인구,비율
0,종로구,청운효자동,청운효자동 주민센터,서울특별시 종로구 자하문로 92,965.52,37.584083,126.970636,1.953680e+06,953451.030567,0.0,...,0.0,1.0,0.0,11978,2945,0.245867,39120,0.075281,4.474791e+06,336867.539821
1,종로구,사직동,사직동 주민센터,서울특별시 종로구 사직로9길 1,346.65,37.576191,126.968829,1.952806e+06,953286.588072,2.0,...,1.0,1.0,0.0,9372,2468,0.263338,39120,0.063088,4.474791e+06,282305.293147
2,종로구,종로1.2.3.4가동,종로1-4가동 주민센터,서울특별시 종로구 종로17길 8,1981.09,37.570728,126.988912,1.952190e+06,955056.678912,0.0,...,1.0,4.0,1.0,7197,2682,0.372655,39120,0.068558,4.474791e+06,306783.953096
3,종로구,삼청동,삼청동 주민센터,서울특별시 종로구 삼청로 107,998.1,37.584979,126.981782,1.953774e+06,954435.679506,1.0,...,0.0,3.0,0.0,2456,827,0.336726,39120,0.021140,4.474791e+06,94597.438184
4,종로구,가회동,가회동 주민센터,서울특별시 종로구 북촌로 35,1032.08,37.580025,126.984805,1.953223e+06,954699.580385,1.0,...,0.0,2.0,0.0,4088,1184,0.289628,39120,0.030266,4.474791e+06,135433.333501
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
504,강동구,천호2동,해공노인복지관,서울특별시 강동구 천중로17길 42-16,598,37.546582,127.130996,1.949452e+06,967593.315153,0.0,...,1.0,0.0,0.0,33154,8694,0.262231,111309,0.078107,6.345216e+06,495605.089585
505,성북구,삼선동,삼선실버복지센터,서울특별시 성북구 삼선교로18길 41,542.11,37.588977,127.013925,1.954203e+06,957275.933852,0.0,...,0.0,0.0,0.0,22871,5563,0.243234,106495,0.052237,5.578754e+06,291418.455170
506,금천구,독산1동,금천한내어르신복지센터,서울특별시 금천구 한내로 69-15,2003,37.456658,126.887549,1.939588e+06,946023.287446,0.0,...,0.0,3.0,0.0,44873,8892,0.198159,60422,0.147165,3.583914e+06,527426.512680
507,서초구,방배3동,방배느티나무쉼터,서울특별시 서초구 남부순환로287길 17-4,519.5,37.477389,126.987735,1.941835e+06,954896.456135,0.0,...,0.0,3.0,0.0,18783,4902,0.260981,86892,0.056415,6.666429e+06,376085.632804
508,성동구,용답동,삼성시니어센터,서울특별시 성동구 용답동 72-17,1716.38,37.565800,127.052500,1.951614e+06,960669.395691,1.0,...,0.0,0.0,1.0,11647,3103,0.266421,68087,0.045574,4.282231e+06,195158.609483

In [ ]:
main_df.shape

(509, 22)

In [ ]:
main_df = pd.merge(main_df, final_df, how='left',on=['동'])

In [ ]:
main_df.isnull().sum()

자치구          0
동            0
시설명          0
주소           0
연면적          0
위도           0
경도           0
위도UTMK       0
경도UTMK       0
도서관(500)     0
배움터(500)     0
병원(500)      0
공원(500)      0
버스(100)      0
지하철(250)     0
동별전체인구       0
60세~         0
60세~/전체인구    0
구별전체인구       0
60세~/구별전체    0
보행인구         0
비율           0
디지털정보지수      0
dtype: int64

In [ ]:
main_df[main_df['동']=='신사동']

,자치구,동,시설명,주소,연면적,위도,경도,위도UTMK,경도UTMK,도서관(500),...,버스(100),지하철(250),동별전체인구,60세~,60세~/전체인구,구별전체인구,60세~/구별전체,보행인구,비율,디지털정보지수
335,관악구,신사동,신사동 주민센터,서울특별시 관악구 조원로 142,1940,37.485419,126.918117,1.942761e+06,948746.439131,0.0,...,1.0,0.0,22560,4975,0.220523,112521,0.044214,5.847915e+06,258559.544897,5004.80
336,관악구,신사동,신사동 주민센터,서울특별시 관악구 조원로 142,1940,37.485419,126.918117,1.942761e+06,948746.439131,0.0,...,1.0,0.0,22560,4975,0.220523,112521,0.044214,5.847915e+06,258559.544897,3902.89
370,강남구,신사동,신사동 주민센터,서울특별시 강남구 압구정로 128,1722.81,37.523980,127.022827,1.946988e+06,958025.409467,0.0,...,1.0,0.0,15993,3954,0.247233,111054,0.035604,8.742670e+06,311276.658408,5004.80
371,강남구,신사동,신사동 주민센터,서울특별시 강남구 압구정로 128,1722.81,37.523980,127.022827,1.946988e+06,958025.409467,0.0,...,1.0,0.0,15993,3954,0.247233,111054,0.035604,8.742670e+06,311276.658408,3902.89
499,강남구,신사동,압구정노인복지센터,서울특별시 강남구 도산대로53길 5,793,37.524309,127.038532,1.947017e+06,959413.337790,0.0,...,1.0,0.0,15993,3954,0.247233,111054,0.035604,8.742670e+06,311276.658408,5004.80
500,강남구,신사동,압구정노인복지센터,서울특별시 강남구 도산대로53길 5,793,37.524309,127.038532,1.947017e+06,959413.337790,0.0,...,1.0,0.0,15993,3954,0.247233,111054,0.035604,8.742670e+06,311276.658408,3902.89

In [ ]:
# 관악구과 강남구에 동이름이 동일한 곳이 존재
# 위치가 신사동인 곳은 두개씩 merge가 되었기때문에 행삭제 처리
main_df.drop(index=[336, 370, 499], axis=0, inplace=True)

In [ ]:
main_df

,자치구,동,시설명,주소,연면적,위도,경도,위도UTMK,경도UTMK,도서관(500),...,버스(100),지하철(250),동별전체인구,60세~,60세~/전체인구,구별전체인구,60세~/구별전체,보행인구,비율,디지털정보지수
0,종로구,청운효자동,청운효자동 주민센터,서울특별시 종로구 자하문로 92,965.52,37.584083,126.970636,1.953680e+06,953451.030567,0.0,...,1.0,0.0,11978,2945,0.245867,39120,0.075281,4.474791e+06,336867.539821,2933.53
1,종로구,사직동,사직동 주민센터,서울특별시 종로구 사직로9길 1,346.65,37.576191,126.968829,1.952806e+06,953286.588072,2.0,...,1.0,0.0,9372,2468,0.263338,39120,0.063088,4.474791e+06,282305.293147,2406.94
2,종로구,종로1.2.3.4가동,종로1-4가동 주민센터,서울특별시 종로구 종로17길 8,1981.09,37.570728,126.988912,1.952190e+06,955056.678912,0.0,...,4.0,1.0,7197,2682,0.372655,39120,0.068558,4.474791e+06,306783.953096,2305.52
3,종로구,삼청동,삼청동 주민센터,서울특별시 종로구 삼청로 107,998.1,37.584979,126.981782,1.953774e+06,954435.679506,1.0,...,3.0,0.0,2456,827,0.336726,39120,0.021140,4.474791e+06,94597.438184,680.87
4,종로구,가회동,가회동 주민센터,서울특별시 종로구 북촌로 35,1032.08,37.580025,126.984805,1.953223e+06,954699.580385,1.0,...,2.0,0.0,4088,1184,0.289628,39120,0.030266,4.474791e+06,135433.333501,1118.11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
507,강동구,천호2동,해공노인복지관,서울특별시 강동구 천중로17길 42-16,598,37.546582,127.130996,1.949452e+06,967593.315153,0.0,...,0.0,0.0,33154,8694,0.262231,111309,0.078107,6.345216e+06,495605.089585,8661.42
508,성북구,삼선동,삼선실버복지센터,서울특별시 성북구 삼선교로18길 41,542.11,37.588977,127.013925,1.954203e+06,957275.933852,0.0,...,0.0,0.0,22871,5563,0.243234,106495,0.052237,5.578754e+06,291418.455170,5682.14
509,금천구,독산1동,금천한내어르신복지센터,서울특별시 금천구 한내로 69-15,2003,37.456658,126.887549,1.939588e+06,946023.287446,0.0,...,3.0,0.0,44873,8892,0.198159,60422,0.147165,3.583914e+06,527426.512680,9862.98
510,서초구,방배3동,방배느티나무쉼터,서울특별시 서초구 남부순환로287길 17-4,519.5,37.477389,126.987735,1.941835e+06,954896.456135,0.0,...,3.0,0.0,18783,4902,0.260981,86892,0.056415,6.666429e+06,376085.632804,4947.17
511,성동구,용답동,삼성시니어센터,서울특별시 성동구 용답동 72-17,1716.38,37.565800,127.052500,1.951614e+06,960669.395691,1.0,...,0.0,1.0,11647,3103,0.266421,68087,0.045574,4.282231e+06,195158.609483,3155.59

In [ ]:
main_df.to_excel('main_seoul_senior_data.xlsx', index=False)